Lab3&4/files/info.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name = "accounts">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "account">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name = "balanceAmount" type = "xs:int"/>
                            <xs:element name = "status" type = "xs:boolean"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>